<p>Hi [[+firstname]],</p> 

<p>Thanks for signing up! To activate your new account, please click on the following link:</p>

<p><a href="[[+confirmUrl]]">[[+confirmUrl]]</a></p>

<p>After activating, you may login with your email address and password:</p>

<table>
    <tr><td>Email:</td><td><strong>[[+username]]</strong></td></tr>
    <tr><td>Password:</td><td><strong>[[+password]]</strong></td></tr>
</table>

<p>If you did not request this message, please ignore it.</p>

<p>Kind Regards<br />
<em>[[++site_name]]</em></p>