<tr>  
<td class="fileListerFolder"><img src="assets/images/icon-folder.png" alt="folder" /></td>
<td class="fileListerLink">[[+link]]</td>  
<td class="fileListerSize"></td>  
<td class="fileListerDownloads"></td> 
</tr>